.move {
  animation: move 0.1s infinite alternate;
}

.moveCardLink {
  animation: move 0.5s infinite alternate;
}

@keyframes move {
  from {
    transform: translateX(-5px);
  }
  to {
    transform: translateX(5px);
  }
}

.move-button:hover {
  cursor: pointer;
  animation: move 0.1s infinite alternate;
}
