.boxStyleParagraph{ 
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
}

.boxStyleTitle{
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
    height: 200px;
}

.boxProject{
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
    background-color: red;
}